body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #result {
    margin-top: 50px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
  